---
import Footer from "@/components/ui/Footer.astro";
import Navbar from "@/components/ui/Navbar.astro";
import MainHead from "@/layouts/MainHead.astro";
import "@/styles/global.css";
import type { Language } from '../i18n/config';

interface Props {
  title: string;
  description?: string;
  image?: string;
  robots?: string;
  currentLanguage?: Language;
  currentPath?: string;
}

const props = Astro.props as Props;
const { currentLanguage = 'ja', currentPath = '/' } = props;
---

<html lang={currentLanguage}>
  <MainHead {...props} />
  <style>
    html.lenis {
      height: auto;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
    .lenis.lenis-stopped {
      overflow: hidden;
    }
  </style>
  <script src="@/utils/lenis"></script>
  <body class="bg-white font-grotesk">
    <main>
      <Navbar currentLanguage={currentLanguage} currentPath={currentPath} />
      <slot />
      <Footer currentLanguage={currentLanguage} />
    </main>
  </body>
</html>
