---
interface Props {
  isUnderline?: boolean;
}

const { isUnderline = false } = Astro.props as Props;
---

<div class={`rounded-[45px] transform hover:scale-105 transition-all duration-300 ${isUnderline ? 'border border-dark shadow-2xl' : 'shadow-2xl border border-gray-100'}`}>
  <slot />
</div>
