---
import { capitalize } from '@/utils';

interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;
---
<div class="flex flex-wrap gap-2">
  {tags.map((tag: string, index: number) => (
   <span
   class="px-2 py-1 bg-lime text-black rounded-full text-xs hover:opacity-90"
   ><a href={'/articles/tag/' + tag}>#{capitalize(tag)}</a></span>
  ))}
 </div>